MONGO_URI=mongodb+srv://<username>:<password>@host/hopshare # admin name and password for our MongoDB Atlas database
SERP_API_KEY=12345yourSecretKey091334 # enter the key that's generated for you after making a SerpApi account